<!doctype html>
<html lang="en">
<head>
  <!--Let browser know website is optimized for mobile-->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msqpplication-tap-highlight" content="no">
  <meta name="description" content="Application">

  {% block head %}{% include 'head'|with_theme %}{% endblock head %}

  {% block extra_head %}{% endblock extra_head %}

  <title>{% block title %}{% if title %}{{ title }}{% endif %}{% endblock title %}</title>
</head>

<body>
  {% block begin_body %}{% include 'begin_body'|with_theme  %}{% endblock begin_body %}

  <header>{% block navbar %}{% include 'navbar'|with_theme %}{% endblock navbar %}</header>

  {% block sidenav %}{% include 'sidenav'|with_theme %}{% endblock sidenav %}

  {% block container %}{% include 'container'|with_theme %}{% endblock container %}

  <footer>{% block footer %}{% include 'footer'|with_theme %}{% endblock footer %}</footer>

  {% block modals %}{% endblock modals %}

  {% block end_body %}{% include 'end_body'|with_theme %}{% endblock end_body %}

  {% block scripts %}{% endblock scripts %}
</body>
